*{
    margin: 0px;
    padding: 0px;
}
.unorder{
    text-align: center;
    justify-content:center;
}
.list{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: bold;


}
.list:hover{
    background-color:rgba(247, 44, 44, 0.884) ;
    padding: 4px;
}
